<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:layout name="Default" />

<f:section name="Main">

    <f:if condition="{data.bodytext}">
        <f:format.html>{data.bodytext}</f:format.html>
    </f:if>

    <f:if condition="{attachedContent}">

        <f:for each="{attachedContent}" as="item">

            <div class="px-4 mb-2 rounded border border-accent-10 transition-colors hover:border-accent"
                 x-data="{ open: false, hover: false }" :class="{ 'border-accent': open }"
            >
                <f:if condition="{item.data.title} && {item.data.body}">

                    <div class="flex flex-row justify-between py-4 cursor-pointer"
                         @click="open = !open" @mouseover="hover = true" @mouseout="hover = false"
                    >
                        <h3 class="mb-0 self-center">{item.data.title}</h3>
                        <div class="self-start transform transition-transform rotate-0"
                             :class="{ '-rotate-45': open }"
                        >
                            <i class="link-button-icon fas fa-plus"
                               :class="{ 'active': hover || open }"
                            ></i>
                        </div>
                    </div>

                    <div class="mb-4"
                         x-show="open" @click.outside="open = false"
                    >
                        <f:format.html>{item.data.body}</f:format.html>
                    </div>

                </f:if>
            </div>
        </f:for>

    </f:if>

</f:section>

</html>