@import "../Library/Tailwind/tailwind.css";

@import "../../../node_modules/swiper/swiper-bundle.css";

@import "../Library/FontAwesome/css/all.min.css";

:root {
    --color-accent: 24 , 80% , 45%;
    --color-success: 112, 80%, 45%;
    --color-warning: 34, 80%, 45%;
    --color-error: 0, 80%, 45%;
    --font-body: 'Poppins';
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}

/* Custom css */
@import "fonts.css";

@import "customs.css";

@import "page.css";