<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div class="flex flex-col border-2 border-accent-10 rounded overflow-hidden place-content-between transition-colors"
     x-data="{ hover: false }" :class="{ 'border-accent': hover }"
>
    <div class="">

        <f:if condition="{page.media.0}">
            <a class="block" href="{f:uri.page(pageUid: page.uid)}"
               @mouseover="hover = true" @mouseout="hover = false"
            >
                <f:image image="{page.media.0}" width="920" class="block w-full h-auto bg-gray" loading="lazy" />
            </a>
        </f:if>

        <div class="px-4 {f:if(condition: page.media.0, then: 'pt-4', else: 'pt-6')}">
            <h3>
                <a class="block" href="{f:uri.page(pageUid: page.uid)}"
                   @mouseover="hover = true" @mouseout="hover = false"
                >{page.title}</a>
            </h3>
            <f:if condition="!{page.media.0} && {page.teaser}">
                <f:format.nl2br>{page.teaser}</f:format.nl2br>
            </f:if>
        </div>

    </div>

    <div class="m-4">
        <a class="link-button-icon" href="{f:uri.page(pageUid: page.uid)}"
           :class="{ 'active': hover }" @mouseover="hover = true" @mouseout="hover = false"
        >
            <i class="fas fa-arrow-right"></i>
        </a>
    </div>

</div>

</html>