<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<a href="/" class="mt-4 mb-8 hidden xl:block">
    <f:if condition="{clubcms_logo.0}">
        <f:then>
            <f:image image="{clubcms_logo.0}" class="w-full mx-auto" style="max-width: 100%; width: auto; max-height: 10rem; height: auto;" />
        </f:then>
        <f:else>
            {site.configuration.websiteTitle}
        </f:else>
    </f:if>
</a>

<div class="bg-accent-10 py-4 lg:py-8 px-4 xl:rounded">

    <div class="mb-6 xl:hidden">
        <div id="menu-close" class="h-12 w-12 relative cursor-pointer rounded-full transition-colors bg-white border-2 border-accent group flex flex-col justify-between py-4">
            <span class="absolute w-6 bg-accent rounded top-1/2 left-1/2 -ml-3 transform rotate-45 origin-center" style="height: 2px;"></span>
            <span class="absolute w-6 bg-accent rounded top-1/2 left-1/2 -ml-3 transform -rotate-45 origin-center" style="height: 2px;"></span>
        </div>
    </div>

    <f:for each="{navigation}" as="nav_item">

        <div class="mb-3 bg-white rounded border border-accent text-accent">
            <a href="{nav_item.link}" class="flex items-center py-4 font-bold">
                <span class="w-12 text-center text-lg">
                    <f:if condition="{nav_item.data.clubcms_icon}"><i class="{nav_item.data.clubcms_icon}"></i></f:if>
                </span>
                <span class="flex-1">{nav_item.title}</span>
            </a>
            <f:if condition="{nav_item.children}">
                <div class="pb-6">
                    <f:for each="{nav_item.children}" as="nav_item2">
                        <a href="{nav_item2.link}" class="block py-2 pl-12 pr-4">{nav_item2.title}</a>
                    </f:for>
                </div>
            </f:if>
        </div>

    </f:for>
</div>

<div class="text-xs text-center my-4 xl:mt-12">
    Powered by <a class="link-text" href="https://github.com/ulbrich-media/clubcms" target="_blank">ClubCMS</a>
</div>


</html>
