<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:if condition="{header}">
    <div class="ce-header">
        <f:switch expression="{layout}">
            <f:case value="1">
                <h1>{header}</h1>
            </f:case>
            <f:case value="2">
                <h2>{header}</h2>
            </f:case>
            <f:case value="3">
                <h3>{header}</h3>
            </f:case>
            <f:case value="4">
                <h4>{header}</h4>
            </f:case>
            <f:case value="5">
                <h5>{header}</h5>
            </f:case>
            <f:case value="6">
                <h6>{header}</h6>
            </f:case>
            <f:case value="100">
                <f:comment> -- do not show header -- </f:comment>
            </f:case>
            <f:defaultCase>
                <h2>{header}</h2>
            </f:defaultCase>
        </f:switch>
    </div>
</f:if>
</html>
